.category-container {
   height: auto;
   width: 100%;
   display: block;
   padding-top: 111px;

   .category-title {
      padding: 80px 0;
      text-align: center;

      h1 {
         font-size: 5rem;
         font-weight: 500;
         letter-spacing: 6px;
         text-transform: uppercase;
         padding-bottom: 20px;
      }

      p {
         font-size: 1.6rem;
         font-weight: 400;
         letter-spacing: 6px;
      }
   }

   .categories {
      padding-bottom: 200px;
      width: 80%;
      max-width: 1440px;
      margin: 0 auto;
      display: block;

      .category-flex-row {
         width: 100%;
         display: flex;
         align-items: center;

         .category-flex-item {
            height: 500px;
            width: 100%;
            position: relative;
            text-align: center;
            transition: 0.4s ease;
            text-decoration: none;
            margin: 10px;
   
            &:hover {
               width: 150%;

               .category-flex-overlay {
                  p {
                     opacity: 1;
   
                     &:after {
                        transform: scaleX(1);
                        transform-origin: bottom left;
                     }
                  }
               }
            }
   
            .category-flex-overlay {
               position: absolute;
               top: 0;
               left: 0;
               height: 100%;
               width: 100%;
               color: white;
               background-color: rgba(0, 0, 0, 0.5);
               display: flex;
               flex-direction: column;
               align-items: center;
               justify-content: center;
   
               h1 {
                  font-size: 3rem;
                  font-weight: 500;
                  color: white;
                  text-transform: uppercase;
                  margin-bottom: 20px;
               }
   
               p {
                  font-size: 1.2rem;
                  font-weight: 500;
                  text-transform: uppercase;
                  position: relative;
                  opacity: 0;
                  transition: 0.2s ease;
   
                  &:after {
                     content: '';
                     position: absolute;
                     left: 0;
                     bottom: -5px;
                     width: 100%;
                     height: 2px;
                     transform: scaleX(0);
                     transform-origin: bottom right;
                     color: white;
                     background-color: white;
                     transition: transform 0.25s ease;
                  }
               }
            }
   
            img {
               height: 100%;
               width: 100%;
               object-fit: cover;
               object-position: center;
            }
         }
      }
   }
}

@media only screen and (max-width: 1280px) {
   .category-container {
      padding-top: 90px;

      .category-title {
         padding: 50px 0;
      }

      .categories {
         padding-bottom: 60px;

         .category-flex-row .category-flex-item {
            height: 300px;

            .category-flex-overlay {
               h1 {
                  font-size: 2.4rem;
               }

               p {
                  font-size: 1rem;
               }
            }
         }
      }
   }
}

@media only screen and (max-width: 1024px) {
   .category-container {
      .category-title {
         h1 {
            font-size: 4rem;
         }

         p {
            font-size: 1.4rem;
         }
      }

      .categories {
         width: 60%;
   
         .category-flex-row {
            flex-direction: column;
   
            .category-flex-item:hover {
               width: 100%;
            }
         }
      }
   }
}

@media only screen and (max-width: 768px) {
   .category-container {
      .category-title {
         h1 {
            font-size: 3.6rem;
         }

         p {
            font-size: 1.2rem;
         }
      }

      .categories {
         width: 80%;
   
         .category-flex-row .category-flex-item .category-flex-overlay h1 {
            font-size: 2rem;
         }
      }
   }
}