.checkout-container {
   height: auto;
   width: 100%;
   min-height: 80vh;
   padding-top: 161px;
   padding-bottom: 50px;
   background-color: #F9F6F0;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;

   .checkout-auth {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      z-index: 1000;
      display: none;
      align-items: center;
      justify-content: center;

      &.active {
         display: flex;
      }
      
      .checkout-info {
         background-color: #F9F6F0;
         height: 400px;
         width: 600px;
         position: relative;
         bottom: 50px;

         .checkout-form {
            height: 100%;
            width: 100%;
            display: none;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            &.active {
               display: flex;
            }
   
            .checkout-close {
               position: absolute;
               top: 10px;
               right: 10px;
               padding: 4px;
               border-radius: 50%;
               border: 2px solid transparent;
               outline: none;
               color: white;
               background-color: black;
               transition: 0.4s ease;
               display: flex;
               align-items: center;
               justify-content: center;
               cursor: pointer;
      
               &:hover {
                  color: black;
                  background-color: white;
                  border: 2px dashed black;
               }
   
               span {
                  font-size: 1.6rem;
               }
            }
   
            .checkout-form-title {
               position: absolute;
               top: 40px;

               h1 {
                  font-size: 1.8rem;
                  font-weight: 500;
                  text-align: center;
               }
            }
   
            .checkout-name,
            .checkout-email {
               margin-bottom: 10px;
               padding: 10px;
               padding-right: 160px;
               border: 2px solid transparent;
               transition: border 0.2s ease;
               outline: none;
   
               &:focus {
                  border: 2px solid black
               }
            }
   
            .error-message {
               color: red;
               margin-bottom: 10px;
            }
   
            .checkout-btn {
               position: relative;
               top: 30px;
               padding: 10px 50px;
               color: #F9F6F0;
               background-color: black;
               border: 2px solid transparent;
               outline: none;
               letter-spacing: 1px;
               text-transform: uppercase;
               transition: 0.4s ease;
               cursor: pointer;
   
               &:hover {
                  color: black;
                  background-color: #F9F6F0;
                  border: 2px solid black;
               }
            }
         }

         .checkout-confirmed {
            height: 100%;
            width: 90%;
            margin: 0 auto;
            display: none;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            &.active {
               display: flex;
            }

            h1 {
               font-size: 1.6rem;
               font-weight: 500;
               line-height: 3rem;
               text-align: center;
            }

            .notfound-btn {
               font-size: 1.3rem;
               padding: 15px 25px;
               border: 2px solid transparent;
               border-radius: 10px;
               color: white;
               background-color: black;
               text-decoration: none;
               transition: 0.4s ease;
               position: relative;
               top: 50px;
         
               &:hover {
                  color: black;
                  background-color: #F9F6F0;
                  border: 2px solid black;
               }
            }
         }
      }
   }

   .checkout {
      width: 80%;
      margin: 0 auto;
      max-width: 700px;
      background-color: white;
      padding: 50px;
      padding-bottom: 0px;

      .checkout-title {
         width: 100%;
         text-align: center;
         margin-bottom: 50px;

         h1 {
            font-size: 1.8rem;
            font-weight: 500;
         }
      }

      .cart-item {
         height: auto;
         width: 100%;
         display: flex;
         justify-content: flex-end;
         margin-bottom: 50px;
   
         .cart-item-info {
            width: calc(100% - 200px);
            margin-top: 20px;
   
            h1 {
               font-size: 1.8rem;
               font-weight: 500;
               margin-bottom: 3px;
            }
   
            h2 {
               font-size: 1.2rem;
               font-weight: 400;
               margin-bottom: 25px;
            }
   
            .cart-item-info-h3 {
               display: flex;
               align-items: center;
               margin-bottom: 50px;
   
               h3 {
                  font-size: 1.2rem;
                  font-weight: 400;
   
                  &:first-child {
                     margin-right: 20px;
                  }
               }
            }

            .remove-cart-item {
               transition: 0.4s ease;
               position: relative;
               color: black;
               background-color: transparent;
               border: none;
               outline: none;
               cursor: pointer;

               &::after {
                  content: '';
                  position: absolute;
                  left: 0;
                  bottom: 0;
                  width: 100%;
                  opacity: 0;
                  height: 2px;
                  background-color: black;
                  transition: opacity 0.2s ease;
               }

               &:hover::after {
                  opacity: 1;
               }

               h1 {
                  font-size: 1.2rem;
                  font-weight: 500;
               }
            }
         }
   
         .cart-item-img {
            height: 200px;
            width: 200px;
   
            img {
               height: 100%;
               width: 100%;
               object-fit: cover;
               object-position: center;
            }
         }
      }

      .cart-checkout {
         width: 100%;
         display: block;
         margin-top: 100px;

         .cart-total {
            width: 100%;
            display: flex;
            justify-content: space-between;

            h1:last-child {
               letter-spacing: 1px;
            }
         }

         .proceed-cart-checkout {
            width: 100%;
            padding: 10px 50px;
            border: 2px solid transparent;
            color: white;
            background-color: black;
            margin-top: 20px;
            margin-bottom: 100px;
            transition: 0.4s ease;
            cursor: pointer;
      
            &:hover {
               color: black;
               background-color: white;
               border: 2px solid black;
            }
      
            h1 {
               font-size: 1.4rem;
               font-weight: 600;
            }
         }
      }
   }

   .empty-cart-title {
      font-size: 4rem;
      font-weight: 500;
      letter-spacing: 4px;
      text-align: center;
   }
}

@media only screen and (max-width: 1280px) {
   .checkout-container {
      .checkout-auth {
         height: 100vh;
   
         .checkout-info {
            height: 350px;
            width: 500px;
            bottom: 0px;

            .checkout-form .checkout-btn {
               top: 20px;
            }
         }
      }
   }
}

@media only screen and (max-width: 1024px) {
   .checkout-container .checkout {
      width: 100%;
      padding: 20px;
   }
}

@media only screen and (max-width: 768px) {
   .checkout-container .checkout-auth .checkout-info {
      height: 300px;

      .checkout-form .checkout-form-title {
         top: 20px;
      }
   }
}