.header {
   width: 100%;
   background-color: black;
   position: fixed;
   z-index: 1000;

   .header-container {
      padding: 0 50px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;

      .logo {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         height: 80px;
         width: 80px;
         object-fit: cover;
         object-position: center;
      }

      .header-left ul,
      .header-right ul {
         display: flex;
         flex-direction: row;

         a {
            color: white;
            text-decoration: none;
         }
      }

      .header-left {
         height: 111px;

         .header-left-container {
            height: 100%;
            display: flex;
            align-items: center;
            
            .header-list-item:first-child {
               padding-left: 0px;
            }

            .header-list-item {
               height: 100%;
               padding: 0 30px;
               display: flex;
               align-items: center;

               .list-btn {
                  font-size: 1.6rem;
                  font-weight: 500;
                  text-transform: uppercase;
                  position: relative;
                  bottom: -3px;
   
                  &:after {
                     content: '';
                     position: absolute;
                     left: 0;
                     bottom: -3px;
                     width: 100%;
                     transform: scaleX(0);
                     height: 2px;
                     background-color: white;
                     transform-origin: bottom right;
                     transition: transform 0.2s ease-out;
                  }
   
                  &:hover:after,
                  &.active:after {
                     transform: scaleX(1);
                     transform-origin: bottom left;
                  }
               }

               .submenu-container {
                  position: absolute;
                  top: 111px;
                  left: 0;
                  height: auto;
                  width: 100%;
                  background-color: black;
                  padding: 0 50px;
                  padding-top: 10px;
                  padding-bottom: 40px;
                  transition: 0.3s ease;
                  opacity: 0;
                  visibility: hidden;
                  z-index: -1;

                  &.active {
                     opacity: 1;
                     visibility: visible;
                     z-index: 2;
                  }

                  .submenu {
                     height: 100%;
                     width: 100%;
                     list-style: none;

                     .submenu-list {
                        display: flex;
                        flex-direction: column;
                        margin-right: 150px;

                        .submenu-title {
                           font-size: 1.6rem;
                           font-weight: 500;
                           color: white;
                           margin-bottom: 30px;
                           text-transform: uppercase;
                        }
   
                        .submenu-item:not(:last-child) {
                           margin-bottom: 20px;
                        }
   
                        .submenu-item .submenu-btn {
                           font-size: 1.4rem;
                           font-weight: 500;
                           text-transform: capitalize;
                           text-decoration: none;
                           transition: 0.4s ease;
                           
                           &:hover {
                              color: rgba(255, 255, 255, 0.4)
                           }
                        }
                     }
                  }
               }
            }
         }
      }

      .header-right {
         ul {
            li:not(:last-child) {
               margin-right: 20px;
            }

            li {
               a {
                  transition: 0.4s ease;
      
                  &:hover {
                     color: #808080;
                  }
      
                  span {
                     font-size: 2.4rem;
                  }
               }

               .search-overlay {
                  position: absolute;
                  top: 0;
                  left: 0;
                  height: 100vh;
                  width: 100%;
                  background-color: rgba(255, 255, 255, 0.3);
                  visibility: hidden;
                  opacity: 0;
                  transition: 0.4s ease;

                  &.active {
                     visibility: visible;
                     opacity: 1;
                     z-index: 2;
                  }
               }

               .search-container {
                  position: absolute;
                  top: 0;
                  right: -100%;
                  height: 100vh;
                  width: 100%;
                  transition: 0.5s ease;
                  z-index: 3;

                  &.active {
                     right: 0;
                  }

                  .search {
                     position: absolute;
                     right: -50%;
                     height: 100%;
                     width: 50%;
                     padding: 100px 80px;
                     background-color: white;
                     z-index: 3;
                     transition: 0.4s ease;

                     &.active {
                        right: 0;
                     }

                     .search-content {
                        height: 100%;
                        width: 100%;
                        opacity: 0;
                        animation: fadeIn 1s ease forwards;
                        animation-delay: 0.6s;

                        .close {
                           position: absolute;
                           top: 20px;
                           right: 20px;
                           padding: 5px;
                           color: white;
                           background-color: black;
                           border: 2px solid transparent;
                           border-radius: 50%;
                           transition: 0.4s ease;
                           cursor: pointer;
   
                           &:hover {
                              border: 2px dashed black;
                              background-color: white;
                              color: black;
                              transform: rotate(90deg) scale(1.2);
                           }
                        }
   
                        .search-input-container {
                           width: 100%;
                           position: relative;
                           display: flex;
                           align-items: center;
                           padding-bottom: 20px;
   
                           .search-input {
                              font-size: 1.4rem;
                              font-weight: 100;
                              width: 100%;
                              padding: 10px 20px;
                              outline: none;
                              border: none;
                              border-bottom: 2px solid black;
                           }
   
                           .search-btn {
                              position: absolute;
                              right: 10px;
                              background-color: transparent;
                              outline: none;
                              border: none;

                              .search-icon {
                                 font-weight: 900;
                                 transition: 0.4s ease;
                                 cursor: pointer;
                              }

                              &:hover {
                                 color: #AEAEAE;
                              }
                           }
                        }
   
                        .search-body-container {
                           height: 100%;
                           width: 100%;
                           border: 2px solid black;
                        }
                     }
                  }
               }
            }
         }
      }
   }
}

@keyframes fadeIn {
   0% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}