.header {
   width: 100%;
   background-color: black;
   position: fixed;
   z-index: 1000;

   .header-container {
      padding: 0 50px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;

      .logo {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         height: 80px;
         width: 80px;
         object-fit: cover;
         object-position: center;
      }

      .header-left ul,
      .header-right ul {
         display: flex;
         flex-direction: row;

         a {
            color: white;
            text-decoration: none;
         }
      }

      .header-left {
         height: 111px;

         .header-left-container {
            height: 100%;
            display: flex;
            align-items: center;

            .submenu-container {
               position: absolute;
               top: -634px;
               left: 0;
               height: auto;
               width: 100%;
               background-color: black;
               padding: 0 50px;
               padding-top: 21px;
               padding-bottom: 60px;
               transition: 0.3s ease;
               z-index: -2;

               &.active {
                  top: 100px;
               }

               .submenu {
                  height: 100%;
                  width: 100%;
                  list-style: none;
                  opacity: 0;

                  &.active {
                     animation: fadeIn 0.6s ease forwards;
                     animation-delay: 0.35s;
                  }

                  .submenu-list {
                     display: flex;
                     flex-direction: column;
                     margin-right: 150px;

                     .submenu-title {
                        font-size: 1.6rem;
                        font-weight: 500;
                        color: white;
                        margin-bottom: 30px;
                        text-transform: uppercase;
                     }

                     .submenu-item:not(:last-child) {
                        margin-bottom: 20px;
                     }

                     .submenu-item .submenu-btn {
                        font-size: 1.4rem;
                        font-weight: 500;
                        text-transform: capitalize;
                        text-decoration: none;
                        transition: 0.4s ease;
                        
                        &:hover {
                           color: rgba(255, 255, 255, 0.4)
                        }
                     }
                  }
               }
            }

            .header-list-item {
               height: 100%;
               padding: 0 25px;
               display: flex;
               align-items: center;

               &:first-child {
                  padding-left: 0px;
               }

               .list-btn {
                  font-size: 1.6rem;
                  font-weight: 500;
                  text-transform: uppercase;
                  position: relative;
                  bottom: -3px;
   
                  &:after {
                     content: '';
                     position: absolute;
                     left: 0;
                     bottom: -3px;
                     width: 100%;
                     transform: scaleX(0);
                     height: 2px;
                     background-color: white;
                     transform-origin: bottom right;
                     transition: transform 0.2s ease-out;
                  }
   
                  &:hover:after,
                  &.active:after {
                     transform: scaleX(1);
                     transform-origin: bottom left;
                  }
               }
            }
         }
      }

      .header-right {
         ul {
            li:not(:last-child) {
               margin-right: 20px;
            }

            li {
               a,
               button {
                  color: white;
                  transition: 0.4s ease;
                  cursor: pointer;
      
                  &:hover {
                     color: #808080;
                  }
      
                  span {
                     font-size: 2.4rem;
                  }
               }

               button {
                  background-color: transparent;
                  border: none;
                  outline: none;
               }

               .search-overlay {
                  position: absolute;
                  top: 0;
                  left: 0;
                  height: 100vh;
                  width: 100%;
                  background-color: rgba(0, 0, 0, 0.6);
                  display: none;
                  z-index: -2;

                  &.active {
                     display: block;
                     z-index: 3;
                  }
               }

               .search-container {
                  position: absolute;
                  top: -100vh;
                  left: 0;
                  height: 100vh;
                  width: 100%;
                  transition: 0.4s ease;

                  &.active {
                     top: 0;
                     z-index: 3;
                  }

                  .search {
                     height: 600px;
                     width: 100%;
                     padding: 50px 0;
                     padding-top: 20px;
                     background-color: white;
                     z-index: 3;
                     transition: 0.4s ease;
                     display: none;

                     &.active {
                        display: block;
                     }

                     .search-content {
                        height: 100%;
                        width: 100%;
                        opacity: 0;
                        animation: fadeIn 1s ease forwards;
                        animation-delay: 0.4s;

                        .close {
                           position: absolute;
                           right: 0;
                           padding: 6px;
                           font-size: 1.6rem;
                           color: white;
                           background-color: black;
                           border: 1px solid transparent;
                           border-radius: 50%;
                           transition: 0.4s ease;
                           cursor: pointer;
   
                           &:hover {
                              color: black;
                              border: 1px dashed black;
                              background-color: white;
                           }
                        }
   
                        .search-input-width {
                           width: 90%;
                           margin: 0 auto;
                           position: relative;
                           display: flex;
                           align-items: center;

                           .search-input-container {
                              width: 50%;
                              margin: 0 auto;
                              position: relative;
                              display: flex;
                              align-items: center;
                              
                              .search-input {
                                 font-size: 1.4rem;
                                 font-weight: 100;
                                 width: 100%;
                                 padding: 10px 20px;
                                 padding-right: 40px;
                                 outline: none;
                                 border: none;
                                 background-color: #f6f5f3;
                                 border-radius: 10px;
                              }
      
                              .search-btn {
                                 position: absolute;
                                 right: 10px;
                                 color: black;
                                 background-color: transparent;
                                 outline: none;
                                 border: none;
   
                                 .search-icon {
                                    font-size: 1.9rem;
                                    font-weight: 900;
                                    cursor: pointer;
                                 }
   
                                 &:hover {
                                    color: #AEAEAE;
                                 }
                              }
                           }
                        }
   
                        .search-body-container {
                           height: 90%;
                           width: 100%;
                           border-top: 1px solid #C5C5C5;
                           border-bottom: 1px solid #C5C5C5;
                           position: relative;
                           top: 20px;

                           .search-body {
                              height: 100%;
                              width: 100%;
                              max-width: 2000px;
                              margin: 0 auto;
                              padding: 40px;
                              overflow: auto;
                              display: grid;
                              grid-template-columns: repeat(auto-fill, minmax(400px, 3fr));
                              grid-auto-rows: 60px;

                              .search-item {
                                 font-size: 1.5rem;
                                 font-weight: 500;
                                 letter-spacing: 1px;
                                 line-height: 4rem;
                                 color: black;
                                 margin: 0 auto;
                                 text-decoration: none;

                                 &:hover {
                                    transform: scale(1.1);
                                 }
                              }

                              .no-results {
                                 font-size: 1.5rem;
                                 font-weight: 500;
                                 letter-spacing: 1px;
                                 line-height: 4rem;
                                 color: black;
                                 margin: 0 auto;
                              }
                           }
                        }
                     }
                  }
               }

               .cart-overlay {
                  position: absolute;
                  top: 0;
                  left: 0;
                  height: 100vh;
                  width: 100%;
                  background-color: rgba(0, 0, 0, 0.8);
                  display: none;

                  &.active {
                     display: block;
                  }
               }
               
               .cart-container {
                  height: 100vh;
                  width: 50%;
                  max-width: 1000px;
                  padding: 80px 30px;
                  position: absolute;
                  top: 0;
                  right: -50%;
                  background-color: white;
                  transition: 0.4s ease;
                  overflow-y: scroll;
               
                  &.active {
                     right: 0;
                     z-index: 3;
                  }
               
                  .cart-close {
                     position: absolute;
                     top: 15px;
                     right: 15px;
                     border: 1px solid transparent;
                     border-radius: 50%;
                     background-color: black;
                     color: white;
                     cursor: pointer;
                     transition: 0.4s ease;

                     &:hover {
                        color: black;
                        border: 1px dashed black;
                        background-color: white;
                     }

                     span {
                        font-size: 1.6rem;
                        padding: 6px;
                     }
                  }

                  .cart-width {
                     height: 100%;
                     width: 90%;
                     margin: 0 auto;
                     max-width: 1000px;

                     .cart-item {
                        height: auto;
                        width: 100%;
                        display: flex;
                        justify-content: flex-end;
                        margin-bottom: 50px;

                        .cart-item-info {
                           width: calc(100% - 200px);
                           margin-top: 20px;

                           h1 {
                              font-size: 1.8rem;
                              font-weight: 500;
                              margin-bottom: 3px;
                           }

                           h2 {
                              font-size: 1.2rem;
                              font-weight: 400;
                              margin-bottom: 25px;
                           }

                           .cart-item-info-h3 {
                              display: flex;
                              align-items: center;
                              margin-bottom: 50px;

                              h3 {
                                 font-size: 1.2rem;
                                 font-weight: 400;

                                 &:first-child {
                                    margin-right: 20px;
                                 }
                              }
                           }

                           .remove-cart-item {
                              color: black;
                              transition: 0.4s ease;
                              position: relative;

                              &::after {
                                 content: '';
                                 position: absolute;
                                 left: 0;
                                 bottom: 0;
                                 width: 100%;
                                 opacity: 0;
                                 height: 2px;
                                 background-color: black;
                                 transition: opacity 0.2s ease;
                              }

                              &:hover::after {
                                 opacity: 1;
                              }

                              h1 {
                                 font-size: 1.2rem;
                                 font-weight: 500;
                              }
                           }
                        }

                        .cart-item-img {
                           height: 200px;
                           width: 200px;

                           img {
                              height: 100%;
                              width: 100%;
                              object-fit: cover;
                              object-position: center;
                           }
                        }
                     }

                     .cart-checkout {
                        width: 100%;
                        display: block;
                        margin-top: 100px;

                        .cart-total {
                           width: 100%;
                           display: flex;
                           justify-content: space-between;
                        }

                        .proceed-cart-checkout {
                           width: 100%;
                           padding: 10px 50px;
                           border: 2px solid transparent;
                           color: white;
                           background-color: black;
                           margin-top: 20px;
                           margin-bottom: 100px;
                           transition: 0.4s ease;

                           &:hover {
                              color: black;
                              background-color: white;
                              border: 2px solid black;
                           }

                           h1 {
                              font-size: 1.4rem;
                              font-weight: 600;
                           }
                        }
                     }

                     .empty-cart-title {
                        font-size: 1.8rem;
                        font-weight: 500;
                        text-align: center;
                     }
                  }
               }
            }
         }
      }
   }
}

@keyframes fadeIn {
   0% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}