.index-container {
   height: auto;
   width: 100%;
   padding-top: 111px;
   display: block;
   background-color: #F9F6F0;

   .shop-container {
      padding: 80px 0;
      width: 90%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;

      .main-img-container {
         height: 900px;
         width: 100%;
         margin: 10px;
         position: relative;

         &:hover {
            &::after {
               background-color: rgba(0, 0, 0, 0);
            }

            .main-title {
               background-position: 0;
            }

            .main-img-btn {
               color: #171717;
               background-color: white;
            }
         }

         &:hover::after {
            background-color: rgba(0, 0, 0, 0);
         }

         &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.4);
            transition: 0.4s ease;
         }

         .main-img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center 60%;
         }
   
         .main-img-mens {
            object-position: center 30%;
         }

         .main-title {
            position: absolute;
            left: 40px;
            bottom: 200px;
            font-size: 8rem;
            font-weight: 500;
            color: white;
            transition: 0.4s ease;
            text-decoration: none;
            text-transform: uppercase;
            z-index: 2;

            &:before {
               content: '';
               background-color: black;
               display: block;
               position: absolute;
               bottom: -3px;
               left: 0;
               width: 0;
               height: 3px;
            }

            background-image: linear-gradient(
               to right,
               #171717,
               #171717 50%,
               white 50%
            );

            background-size: 200% 100%;
            background-position: 100%;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            transition: all 0.3s ease-in-out;
         }

         .main-img-btn {
            position: absolute;
            left: 40px;
            bottom: 100px;
            padding: 20px 30px;
            padding-left: 42px;
            color: white;
            background-color: #171717;
            display: flex;
            align-items: center;
            transition: 0.4s ease;
            cursor: pointer;
            z-index: 2;

            h1 {
               font-size: 1.8rem;
               font-weight: 500;
               display: flex;
               align-items: center;
               text-transform: uppercase;
            }

            span {
               font-size: 2.8rem;
               margin-left: 5px;
            }
         }
      }
   }
}

@media only screen and (max-width: 1280px) {
   .index-container {
      padding-top: 90px;

      .shop-container {
         padding: 60px 0;

         .main-img-container {
            height: 500px;
   
            .main-title {
               font-size: 5rem;
               bottom: 120px;
            }
   
            .main-img-btn {
               padding: 15px 25px;
               bottom: 50px;
   
               h1 {
                  font-size: 1.4rem;
               }
   
               span {
                  font-size: 2rem;
               }
            }
         }
      }
   }
}

@media only screen and (max-width: 1024px) {
   .index-container .shop-container {
      width: 90%;
      margin: 0 auto;
      flex-direction: column;
   }
}

@media only screen and (max-width: 768px) {
   .index-container .shop-container {
      .main-img-container {
         .main-title {
            left: 30px;
            bottom: 110px;
            font-size: 3.6rem;
         }

         .main-img-btn {
            left: 30px;
            padding: 10px 20px;

            h1 {
               font-size: 1rem;
            }

            span {
               font-size: 1.3rem;
            }
         }
      }
   }
}