@import url("https://fonts.googleapis.com/css2?family=League+Spartan&display=swap"); /* Font-Family: 'League Spartan' */
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"); /* Google Icons */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "League Spartan", sans-serif;
  font-size: 12px;
}

#index {
  height: 100vh;
  width: 100%;
}
#index .header {
  width: 100%;
  background-color: black;
  position: fixed;
  z-index: 1000;
}
#index .header .header-container {
  padding: 0 50px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
#index .header .header-container .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80px;
  width: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
#index .header .header-container .header-left ul,
#index .header .header-container .header-right ul {
  display: flex;
  flex-direction: row;
}
#index .header .header-container .header-left ul a,
#index .header .header-container .header-right ul a {
  color: white;
  text-decoration: none;
}
#index .header .header-container .header-left {
  height: 111px;
}
#index .header .header-container .header-left .header-left-container {
  height: 100%;
  display: flex;
  align-items: center;
}
#index .header .header-container .header-left .header-left-container .header-list-item:first-child {
  padding-left: 0px;
}
#index .header .header-container .header-left .header-left-container .header-list-item {
  height: 100%;
  padding: 0 30px;
  display: flex;
  align-items: center;
}
#index .header .header-container .header-left .header-left-container .header-list-item .list-btn {
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  bottom: -3px;
}
#index .header .header-container .header-left .header-left-container .header-list-item .list-btn:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.2s ease-out;
}
#index .header .header-container .header-left .header-left-container .header-list-item .list-btn:hover:after, #index .header .header-container .header-left .header-left-container .header-list-item .list-btn.active:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
#index .header .header-container .header-left .header-left-container .header-list-item .submenu-container {
  position: absolute;
  top: 111px;
  left: 0;
  height: auto;
  width: 100%;
  background-color: black;
  padding: 0 50px;
  padding-top: 10px;
  padding-bottom: 40px;
  transition: 0.3s ease;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
}
#index .header .header-container .header-left .header-left-container .header-list-item .submenu-container.active {
  opacity: 1;
  visibility: visible;
  z-index: 2;
}
#index .header .header-container .header-left .header-left-container .header-list-item .submenu-container .submenu {
  height: 100%;
  width: 100%;
  list-style: none;
}
#index .header .header-container .header-left .header-left-container .header-list-item .submenu-container .submenu .submenu-list {
  display: flex;
  flex-direction: column;
  margin-right: 150px;
}
#index .header .header-container .header-left .header-left-container .header-list-item .submenu-container .submenu .submenu-list .submenu-title {
  font-size: 1.6rem;
  font-weight: 500;
  color: white;
  margin-bottom: 30px;
  text-transform: uppercase;
}
#index .header .header-container .header-left .header-left-container .header-list-item .submenu-container .submenu .submenu-list .submenu-item:not(:last-child) {
  margin-bottom: 20px;
}
#index .header .header-container .header-left .header-left-container .header-list-item .submenu-container .submenu .submenu-list .submenu-item .submenu-btn {
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: capitalize;
  text-decoration: none;
  transition: 0.4s ease;
}
#index .header .header-container .header-left .header-left-container .header-list-item .submenu-container .submenu .submenu-list .submenu-item .submenu-btn:hover {
  color: rgba(255, 255, 255, 0.4);
}
#index .header .header-container .header-right ul li:not(:last-child) {
  margin-right: 20px;
}
#index .header .header-container .header-right ul li a {
  transition: 0.4s ease;
}
#index .header .header-container .header-right ul li a:hover {
  color: #808080;
}
#index .header .header-container .header-right ul li a span {
  font-size: 2.4rem;
}
#index .header .header-container .header-right ul li .search-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  visibility: hidden;
  opacity: 0;
  transition: 0.4s ease;
}
#index .header .header-container .header-right ul li .search-overlay.active {
  visibility: visible;
  opacity: 1;
  z-index: 2;
}
#index .header .header-container .header-right ul li .search-container {
  position: absolute;
  top: 0;
  right: -100%;
  height: 100vh;
  width: 100%;
  transition: 0.5s ease;
  z-index: 3;
}
#index .header .header-container .header-right ul li .search-container.active {
  right: 0;
}
#index .header .header-container .header-right ul li .search-container .search {
  position: absolute;
  right: -50%;
  height: 100%;
  width: 50%;
  padding: 100px 80px;
  background-color: white;
  z-index: 3;
  transition: 0.4s ease;
}
#index .header .header-container .header-right ul li .search-container .search.active {
  right: 0;
}
#index .header .header-container .header-right ul li .search-container .search .search-content {
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-animation: fadeIn 1s ease forwards;
          animation: fadeIn 1s ease forwards;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
#index .header .header-container .header-right ul li .search-container .search .search-content .close {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 5px;
  color: white;
  background-color: black;
  border: 2px solid transparent;
  border-radius: 50%;
  transition: 0.4s ease;
  cursor: pointer;
}
#index .header .header-container .header-right ul li .search-container .search .search-content .close:hover {
  border: 2px dashed black;
  background-color: white;
  color: black;
  transform: rotate(90deg) scale(1.2);
}
#index .header .header-container .header-right ul li .search-container .search .search-content .search-input-container {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}
#index .header .header-container .header-right ul li .search-container .search .search-content .search-input-container .search-input {
  font-size: 1.4rem;
  font-weight: 100;
  width: 100%;
  padding: 10px 20px;
  outline: none;
  border: none;
  border-bottom: 2px solid black;
}
#index .header .header-container .header-right ul li .search-container .search .search-content .search-input-container .search-btn {
  position: absolute;
  right: 10px;
  background-color: transparent;
  outline: none;
  border: none;
}
#index .header .header-container .header-right ul li .search-container .search .search-content .search-input-container .search-btn .search-icon {
  font-weight: 900;
  transition: 0.4s ease;
  cursor: pointer;
}
#index .header .header-container .header-right ul li .search-container .search .search-content .search-input-container .search-btn:hover {
  color: #AEAEAE;
}
#index .header .header-container .header-right ul li .search-container .search .search-content .search-body-container {
  height: 100%;
  width: 100%;
  border: 2px solid black;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#index .index-container {
  height: auto;
  width: 90%;
  margin: 0 auto;
  padding: 111px 0;
  display: block;
}
#index .index-container .shop-container {
  padding: 80px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#index .index-container .shop-container .main-img-container {
  height: 900px;
  width: 100%;
  margin: 10px;
  position: relative;
}
#index .index-container .shop-container .main-img-container:hover::after {
  background-color: rgba(0, 0, 0, 0);
}
#index .index-container .shop-container .main-img-container:hover .main-title {
  background-position: 0;
}
#index .index-container .shop-container .main-img-container:hover .main-img-btn {
  color: #171717;
  background-color: white;
}
#index .index-container .shop-container .main-img-container:hover::after {
  background-color: rgba(0, 0, 0, 0);
}
#index .index-container .shop-container .main-img-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.4s ease;
}
#index .index-container .shop-container .main-img-container .main-img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center 60%;
     object-position: center 60%;
}
#index .index-container .shop-container .main-img-container .main-img-mens {
  -o-object-position: 0 30%;
     object-position: 0 30%;
}
#index .index-container .shop-container .main-img-container .main-title {
  position: absolute;
  left: 40px;
  bottom: 200px;
  font-size: 8rem;
  font-weight: 500;
  color: white;
  transition: 0.4s ease;
  text-decoration: none;
  text-transform: uppercase;
  z-index: 2;
  background-image: linear-gradient(to right, #171717, #171717 50%, white 50%);
  background-size: 200% 100%;
  background-position: 100%;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}
#index .index-container .shop-container .main-img-container .main-title:before {
  content: "";
  background-color: black;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
}
#index .index-container .shop-container .main-img-container .main-img-btn {
  position: absolute;
  left: 40px;
  bottom: 100px;
  padding: 20px 30px;
  padding-left: 42px;
  color: white;
  background-color: #171717;
  display: flex;
  align-items: center;
  transition: 0.4s ease;
  cursor: pointer;
  z-index: 2;
}
#index .index-container .shop-container .main-img-container .main-img-btn h1 {
  font-size: 1.8rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
#index .index-container .shop-container .main-img-container .main-img-btn span {
  font-size: 2.8rem;
  margin-left: 5px;
}
#index .index-container .gifts-container {
  width: 100%;
  padding-top: 40px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#index .index-container .gifts-container .gifts-img-container {
  height: 750px;
  width: 80%;
  position: relative;
}
#index .index-container .gifts-container .gifts-img-container:hover::after {
  background-color: rgba(0, 0, 0, 0);
}
#index .index-container .gifts-container .gifts-img-container:hover .gifts-title {
  background-position: 0%;
}
#index .index-container .gifts-container .gifts-img-container:hover .gifts-img-btn {
  color: #171717;
  background-color: white;
}
#index .index-container .gifts-container .gifts-img-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.4s ease;
}
#index .index-container .gifts-container .gifts-img-container .gifts-img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
#index .index-container .gifts-container .gifts-img-container .gifts-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 160px;
  font-size: 9rem;
  font-weight: 500;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.4s ease;
  z-index: 2;
  background-image: linear-gradient(to right, #171717, #171717 50%, white 50%);
  background-size: 200% 100%;
  background-position: 100%;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}
#index .index-container .gifts-container .gifts-img-container .gifts-title:before {
  content: "";
  background-color: black;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
}
#index .index-container .gifts-container .gifts-img-container .gifts-img-btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50px;
  padding: 20px 50px;
  padding-left: 62px;
  color: white;
  background-color: #171717;
  display: flex;
  align-items: center;
  transition: 0.4s ease;
  cursor: pointer;
  z-index: 2;
}
#index .index-container .gifts-container .gifts-img-container .gifts-img-btn:hover {
  color: #171717;
  background-color: white;
}
#index .index-container .gifts-container .gifts-img-container .gifts-img-btn h1 {
  font-size: 2rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
#index .index-container .gifts-container .gifts-img-container .gifts-img-btn span {
  font-size: 2.8rem;
  margin-left: 5px;
}
#index .mens-container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 111px;
}
#index footer {
  height: auto;
  width: 100%;
  padding: 60px 0;
  background-color: black;
}
#index footer .footer-container {
  height: 100%;
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#index footer .footer-container .footer-media {
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#index footer .footer-container .footer-media a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
#index footer .footer-container .footer-media a .fa-brands {
  color: white;
  font-size: 3rem;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.6s ease;
}
#index footer .footer-container .footer-media a .fa-brands:hover {
  transform: scale(1.4);
}
#index footer .footer-container .footer-media a:not(:last-child) {
  margin-right: 40px;
}
#index footer .footer-container .footer-privacy {
  color: white;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
#index footer .footer-container .footer-privacy a {
  color: white;
  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
}
#index footer .footer-container .footer-privacy a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}
#index footer .footer-container .footer-privacy a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
#index footer .footer-container .footer-privacy .privacy {
  margin-right: 50px;
}
#index footer .footer-container .footer-copyright {
  color: white;
}
#index footer .footer-container .footer-copyright h1 {
  font-size: 1.4rem;
  font-weight: 600;
}/*# sourceMappingURL=index.css.map */