@import url("https://fonts.googleapis.com/css2?family=League+Spartan&display=swap"); /* Font-Family: 'League Spartan' */
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"); /* Google Icons */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "League Spartan", sans-serif;
  font-size: 12px;
}

#index {
  height: 100vh;
  width: 100%;
}
#index .header {
  width: 100%;
  background-color: black;
  position: fixed;
  z-index: 1000;
}
#index .header .header-container {
  padding: 0 50px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
#index .header .header-container .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80px;
  width: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
#index .header .header-container .header-left ul,
#index .header .header-container .header-right ul {
  display: flex;
  flex-direction: row;
}
#index .header .header-container .header-left ul a,
#index .header .header-container .header-right ul a {
  color: white;
  text-decoration: none;
}
#index .header .header-container .header-left {
  height: 111px;
}
#index .header .header-container .header-left .header-left-container {
  height: 100%;
  display: flex;
  align-items: center;
}
#index .header .header-container .header-left .header-left-container .submenu-container {
  position: absolute;
  top: -634px;
  left: 0;
  height: auto;
  width: 100%;
  background-color: black;
  padding: 0 50px;
  padding-top: 21px;
  padding-bottom: 60px;
  transition: 0.3s ease;
  z-index: -2;
}
#index .header .header-container .header-left .header-left-container .submenu-container.active {
  top: 100px;
}
#index .header .header-container .header-left .header-left-container .submenu-container .submenu {
  height: 100%;
  width: 100%;
  list-style: none;
  opacity: 0;
}
#index .header .header-container .header-left .header-left-container .submenu-container .submenu.active {
  -webkit-animation: fadeIn 0.6s ease forwards;
          animation: fadeIn 0.6s ease forwards;
  -webkit-animation-delay: 0.35s;
          animation-delay: 0.35s;
}
#index .header .header-container .header-left .header-left-container .submenu-container .submenu .submenu-list {
  display: flex;
  flex-direction: column;
  margin-right: 150px;
}
#index .header .header-container .header-left .header-left-container .submenu-container .submenu .submenu-list .submenu-title {
  font-size: 1.6rem;
  font-weight: 500;
  color: white;
  margin-bottom: 30px;
  text-transform: uppercase;
}
#index .header .header-container .header-left .header-left-container .submenu-container .submenu .submenu-list .submenu-item:not(:last-child) {
  margin-bottom: 20px;
}
#index .header .header-container .header-left .header-left-container .submenu-container .submenu .submenu-list .submenu-item .submenu-btn {
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: capitalize;
  text-decoration: none;
  transition: 0.4s ease;
}
#index .header .header-container .header-left .header-left-container .submenu-container .submenu .submenu-list .submenu-item .submenu-btn:hover {
  color: rgba(255, 255, 255, 0.4);
}
#index .header .header-container .header-left .header-left-container .header-list-item {
  height: 100%;
  padding: 0 25px;
  display: flex;
  align-items: center;
}
#index .header .header-container .header-left .header-left-container .header-list-item:first-child {
  padding-left: 0px;
}
#index .header .header-container .header-left .header-left-container .header-list-item .list-btn {
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  bottom: -3px;
}
#index .header .header-container .header-left .header-left-container .header-list-item .list-btn:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.2s ease-out;
}
#index .header .header-container .header-left .header-left-container .header-list-item .list-btn:hover:after, #index .header .header-container .header-left .header-left-container .header-list-item .list-btn.active:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
#index .header .header-container .header-right ul li:not(:last-child) {
  margin-right: 20px;
}
#index .header .header-container .header-right ul li a,
#index .header .header-container .header-right ul li button {
  color: white;
  transition: 0.4s ease;
  cursor: pointer;
}
#index .header .header-container .header-right ul li a:hover,
#index .header .header-container .header-right ul li button:hover {
  color: #808080;
}
#index .header .header-container .header-right ul li a span,
#index .header .header-container .header-right ul li button span {
  font-size: 2.4rem;
}
#index .header .header-container .header-right ul li button {
  background-color: transparent;
  border: none;
  outline: none;
}
#index .header .header-container .header-right ul li .search-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  z-index: -2;
}
#index .header .header-container .header-right ul li .search-overlay.active {
  display: block;
  z-index: 3;
}
#index .header .header-container .header-right ul li .search-container {
  position: absolute;
  top: -100vh;
  left: 0;
  height: 100vh;
  width: 100%;
  transition: 0.4s ease;
}
#index .header .header-container .header-right ul li .search-container.active {
  top: 0;
  z-index: 3;
}
#index .header .header-container .header-right ul li .search-container .search {
  height: 600px;
  width: 100%;
  padding: 50px 0;
  padding-top: 20px;
  background-color: white;
  z-index: 3;
  transition: 0.4s ease;
  display: none;
}
#index .header .header-container .header-right ul li .search-container .search.active {
  display: block;
}
#index .header .header-container .header-right ul li .search-container .search .search-content {
  height: 100%;
  width: 100%;
  opacity: 0;
}
#index .header .header-container .header-right ul li .search-container .search .search-content.active {
  -webkit-animation: fadeIn 1s ease forwards;
          animation: fadeIn 1s ease forwards;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
#index .header .header-container .header-right ul li .search-container .search .search-content .close {
  position: absolute;
  right: 0;
  padding: 6px;
  font-size: 1.6rem;
  color: white;
  background-color: black;
  border: 1px solid transparent;
  border-radius: 50%;
  transition: 0.4s ease;
  cursor: pointer;
}
#index .header .header-container .header-right ul li .search-container .search .search-content .close:hover {
  color: black;
  border: 1px dashed black;
  background-color: white;
}
#index .header .header-container .header-right ul li .search-container .search .search-content .search-input-width {
  width: 90%;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
}
#index .header .header-container .header-right ul li .search-container .search .search-content .search-input-width .search-input-container {
  width: 50%;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
}
#index .header .header-container .header-right ul li .search-container .search .search-content .search-input-width .search-input-container .search-input {
  font-size: 1.4rem;
  font-weight: 100;
  width: 100%;
  padding: 10px 20px;
  padding-right: 40px;
  outline: none;
  border: none;
  background-color: #f6f5f3;
  border-radius: 10px;
}
#index .header .header-container .header-right ul li .search-container .search .search-content .search-input-width .search-input-container .search-btn {
  position: absolute;
  right: 10px;
  color: black;
  background-color: transparent;
  outline: none;
  border: none;
}
#index .header .header-container .header-right ul li .search-container .search .search-content .search-input-width .search-input-container .search-btn .search-icon {
  font-size: 1.9rem;
  font-weight: 900;
  cursor: pointer;
}
#index .header .header-container .header-right ul li .search-container .search .search-content .search-input-width .search-input-container .search-btn:hover {
  color: #AEAEAE;
}
#index .header .header-container .header-right ul li .search-container .search .search-content .search-body-container {
  height: 90%;
  width: 100%;
  border-top: 1px solid #C5C5C5;
  border-bottom: 1px solid #C5C5C5;
  position: relative;
  top: 20px;
}
#index .header .header-container .header-right ul li .search-container .search .search-content .search-body-container .search-body {
  height: 100%;
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
  padding: 40px;
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 3fr));
  grid-auto-rows: 60px;
}
#index .header .header-container .header-right ul li .search-container .search .search-content .search-body-container .search-body .search-item {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 4rem;
  color: black;
  margin: 0 auto;
  text-decoration: none;
}
#index .header .header-container .header-right ul li .search-container .search .search-content .search-body-container .search-body .search-item:hover {
  transform: scale(1.1);
}
#index .header .header-container .header-right ul li .cart-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}
#index .header .header-container .header-right ul li .cart-overlay.active {
  display: block;
}
#index .header .header-container .header-right ul li .cart-container {
  height: 100vh;
  width: 50%;
  max-width: 1000px;
  padding: 80px 30px;
  position: absolute;
  top: 0;
  right: -50%;
  background-color: white;
  transition: 0.4s ease;
  overflow-y: scroll;
}
#index .header .header-container .header-right ul li .cart-container.active {
  right: 0;
  z-index: 3;
}
#index .header .header-container .header-right ul li .cart-container .cart-close {
  position: absolute;
  top: 15px;
  right: 15px;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: 0.4s ease;
}
#index .header .header-container .header-right ul li .cart-container .cart-close:hover {
  color: black;
  border: 1px dashed black;
  background-color: white;
}
#index .header .header-container .header-right ul li .cart-container .cart-close span {
  font-size: 1.6rem;
  padding: 6px;
}
#index .header .header-container .header-right ul li .cart-container .cart-width {
  height: 100%;
  width: 90%;
  margin: 0 auto;
  max-width: 1000px;
}
#index .header .header-container .header-right ul li .cart-container .cart-width .cart-item {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 50px;
}
#index .header .header-container .header-right ul li .cart-container .cart-width .cart-item .cart-item-info {
  width: calc(100% - 200px);
  margin-top: 20px;
}
#index .header .header-container .header-right ul li .cart-container .cart-width .cart-item .cart-item-info h1 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 3px;
}
#index .header .header-container .header-right ul li .cart-container .cart-width .cart-item .cart-item-info h2 {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 25px;
}
#index .header .header-container .header-right ul li .cart-container .cart-width .cart-item .cart-item-info .cart-item-info-h3 {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}
#index .header .header-container .header-right ul li .cart-container .cart-width .cart-item .cart-item-info .cart-item-info-h3 h3 {
  font-size: 1.2rem;
  font-weight: 400;
}
#index .header .header-container .header-right ul li .cart-container .cart-width .cart-item .cart-item-info .cart-item-info-h3 h3:first-child {
  margin-right: 20px;
}
#index .header .header-container .header-right ul li .cart-container .cart-width .cart-item .cart-item-info .remove-cart-item {
  color: black;
  transition: 0.4s ease;
  position: relative;
}
#index .header .header-container .header-right ul li .cart-container .cart-width .cart-item .cart-item-info .remove-cart-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  opacity: 0;
  height: 2px;
  background-color: black;
  transition: opacity 0.2s ease;
}
#index .header .header-container .header-right ul li .cart-container .cart-width .cart-item .cart-item-info .remove-cart-item:hover::after {
  opacity: 1;
}
#index .header .header-container .header-right ul li .cart-container .cart-width .cart-item .cart-item-info .remove-cart-item h1 {
  font-size: 1.2rem;
  font-weight: 500;
}
#index .header .header-container .header-right ul li .cart-container .cart-width .cart-item .cart-item-img {
  height: 200px;
  width: 200px;
}
#index .header .header-container .header-right ul li .cart-container .cart-width .cart-item .cart-item-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
#index .header .header-container .header-right ul li .cart-container .cart-width .cart-checkout {
  width: 100%;
  display: block;
  margin-top: 100px;
}
#index .header .header-container .header-right ul li .cart-container .cart-width .cart-checkout .cart-total {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#index .header .header-container .header-right ul li .cart-container .cart-width .cart-checkout .proceed-cart-checkout {
  width: 100%;
  padding: 10px 50px;
  border: 2px solid transparent;
  color: white;
  background-color: black;
  margin-top: 20px;
  margin-bottom: 100px;
  transition: 0.4s ease;
}
#index .header .header-container .header-right ul li .cart-container .cart-width .cart-checkout .proceed-cart-checkout:hover {
  color: black;
  background-color: white;
  border: 2px solid black;
}
#index .header .header-container .header-right ul li .cart-container .cart-width .cart-checkout .proceed-cart-checkout h1 {
  font-size: 1.4rem;
  font-weight: 600;
}
#index .header .header-container .header-right ul li .cart-container .cart-width .empty-cart-title {
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#index .index-container {
  height: auto;
  width: 90%;
  margin: 0 auto;
  padding: 111px 0;
  display: block;
}
#index .index-container .shop-container {
  padding: 80px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#index .index-container .shop-container .main-img-container {
  height: 900px;
  width: 100%;
  margin: 10px;
  position: relative;
}
#index .index-container .shop-container .main-img-container:hover::after {
  background-color: rgba(0, 0, 0, 0);
}
#index .index-container .shop-container .main-img-container:hover .main-title {
  background-position: 0;
}
#index .index-container .shop-container .main-img-container:hover .main-img-btn {
  color: #171717;
  background-color: white;
}
#index .index-container .shop-container .main-img-container:hover::after {
  background-color: rgba(0, 0, 0, 0);
}
#index .index-container .shop-container .main-img-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.4s ease;
}
#index .index-container .shop-container .main-img-container .main-img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center 60%;
     object-position: center 60%;
}
#index .index-container .shop-container .main-img-container .main-img-mens {
  -o-object-position: center 30%;
     object-position: center 30%;
}
#index .index-container .shop-container .main-img-container .main-title {
  position: absolute;
  left: 40px;
  bottom: 200px;
  font-size: 8rem;
  font-weight: 500;
  color: white;
  transition: 0.4s ease;
  text-decoration: none;
  text-transform: uppercase;
  z-index: 2;
  background-image: linear-gradient(to right, #171717, #171717 50%, white 50%);
  background-size: 200% 100%;
  background-position: 100%;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}
#index .index-container .shop-container .main-img-container .main-title:before {
  content: "";
  background-color: black;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
}
#index .index-container .shop-container .main-img-container .main-img-btn {
  position: absolute;
  left: 40px;
  bottom: 100px;
  padding: 20px 30px;
  padding-left: 42px;
  color: white;
  background-color: #171717;
  display: flex;
  align-items: center;
  transition: 0.4s ease;
  cursor: pointer;
  z-index: 2;
}
#index .index-container .shop-container .main-img-container .main-img-btn h1 {
  font-size: 1.8rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
#index .index-container .shop-container .main-img-container .main-img-btn span {
  font-size: 2.8rem;
  margin-left: 5px;
}
#index .category-container {
  height: auto;
  width: 100%;
  display: block;
  padding-top: 111px;
}
#index .category-container .category-title {
  padding: 80px 0;
  text-align: center;
}
#index .category-container .category-title h1 {
  font-size: 5rem;
  font-weight: 500;
  letter-spacing: 6px;
  text-transform: uppercase;
  padding-bottom: 20px;
}
#index .category-container .category-title p {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 6px;
}
#index .category-container .categories {
  padding-bottom: 200px;
  width: 80%;
  max-width: 1440px;
  margin: 0 auto;
  display: block;
}
#index .category-container .categories .category-flex-row {
  width: 100%;
  display: flex;
  align-items: center;
}
#index .category-container .categories .category-flex-row .category-flex-item {
  height: 500px;
  width: 100%;
  position: relative;
  text-align: center;
  transition: 0.4s ease;
  text-decoration: none;
  margin: 10px;
}
#index .category-container .categories .category-flex-row .category-flex-item:hover {
  width: 150%;
}
#index .category-container .categories .category-flex-row .category-flex-item:hover .category-flex-overlay p {
  opacity: 1;
}
#index .category-container .categories .category-flex-row .category-flex-item:hover .category-flex-overlay p:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
#index .category-container .categories .category-flex-row .category-flex-item .category-flex-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#index .category-container .categories .category-flex-row .category-flex-item .category-flex-overlay h1 {
  font-size: 3rem;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
  margin-bottom: 20px;
}
#index .category-container .categories .category-flex-row .category-flex-item .category-flex-overlay p {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  opacity: 0;
  transition: 0.2s ease;
}
#index .category-container .categories .category-flex-row .category-flex-item .category-flex-overlay p:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: bottom right;
  color: white;
  background-color: white;
  transition: transform 0.25s ease;
}
#index .category-container .categories .category-flex-row .category-flex-item img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
#index .item-container {
  height: auto;
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
  display: block;
  padding-top: 111px;
}
#index .item-container .item-title {
  margin: 80px 0;
  text-align: center;
}
#index .item-container .item-title h1 {
  font-size: 4rem;
  font-weight: 500;
  letter-spacing: 4px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
#index .item-container .item-title p {
  font-size: 1.4rem;
  letter-spacing: 3px;
}
#index .item-container .item-filter {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 50px;
  margin: 0 auto;
  margin-bottom: 20px;
  border: 1px solid #E8E8E8;
}
#index .item-container .item-filter .item-filter-title {
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 2px;
  margin-right: 50px;
}
#index .item-container .item-filter .item-filter-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 400px;
  background-color: transparent;
  outline: none;
  border: none;
  border-left: 2px solid #E8E8E8;
  border-right: 2px solid #E8E8E8;
  padding: 8px 20px;
  transition: 0.4s ease;
  cursor: pointer;
}
#index .item-container .item-filter .item-filter-btn:hover, #index .item-container .item-filter .item-filter-btn.active {
  color: #E8E8E8;
  background-color: black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}
#index .item-container .item-filter .item-filter-btn.active .filter-more {
  transition: transform 0.4s ease;
  transform: rotate(180deg);
}
#index .item-container .item-filter .item-filter-btn .filter-category {
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 2px;
  padding-left: 5px;
}
#index .item-container .item-filter .item-filter-btn .filter-more {
  font-size: 2rem;
  font-weight: 400;
  margin-left: 10px;
  transform: rotate(360deg);
}
#index .item-container .item-filter .item-filter-btn .filter-dropdown {
  position: absolute;
  top: 40px;
  left: -2px;
  width: calc(100% + 4px);
  border: 2px solid black;
  z-index: 100;
  display: none;
  transition: 0.4s ease;
}
#index .item-container .item-filter .item-filter-btn .filter-dropdown.active {
  display: block;
}
#index .item-container .item-filter .item-filter-btn .filter-dropdown .filter-btn-inactive {
  display: none;
}
#index .item-container .item-filter .item-filter-btn .filter-dropdown .filter-btn {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 2px solid black;
  padding: 15px 20px;
  color: black;
  background-color: white;
  transition: 0.4s ease;
  cursor: pointer;
}
#index .item-container .item-filter .item-filter-btn .filter-dropdown .filter-btn:hover {
  color: #E8E8E8;
  background-color: black;
}
#index .item-container .item-filter .item-filter-btn .filter-dropdown .filter-btn:last-child {
  border-bottom: none;
}
#index .item-container .item-filter .item-filter-btn .filter-dropdown .filter-btn h1 {
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 2px;
}
#index .item-container .item-grid-container {
  padding-bottom: 200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
#index .item-container .item-grid-container .item-grid-item {
  height: 600px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
#index .item-container .item-grid-container .item-grid-item .product-view {
  position: absolute;
  font-size: 1.3rem;
  letter-spacing: 1px;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 6px;
  color: white;
  background-color: black;
  opacity: 0;
  transition: 0.4s ease;
}
#index .item-container .item-grid-container .item-grid-item:hover .item-grid-overlay {
  opacity: 0;
  z-index: -1;
}
#index .item-container .item-grid-container .item-grid-item:hover .product-view {
  opacity: 1;
}
#index .item-container .item-grid-container .item-grid-item .item-grid-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.6), rgb(0, 0, 0));
  transition: 0.4s ease;
  z-index: 2;
}
#index .item-container .item-grid-container .item-grid-item .item-grid-overlay .item-grid-info {
  position: absolute;
  left: 50px;
  bottom: 50px;
  width: 85%;
  color: white;
}
#index .item-container .item-grid-container .item-grid-item .item-grid-overlay .item-grid-info h1 {
  font-size: 3rem;
  font-weight: 500;
  padding-bottom: 20px;
}
#index .item-container .item-grid-container .item-grid-item .item-grid-overlay .item-grid-info p {
  font-size: 1.3rem;
}
#index .item-container .item-grid-container .item-grid-item img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
#index .item-container .item-nav {
  padding-bottom: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
}
#index .item-container .item-nav .item-btn {
  font-size: 1.6rem;
  font-weight: 500;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.4s ease;
}
#index .item-container .item-nav .item-btn:not(:last-child) {
  margin-right: 20px;
}
#index .item-container .item-nav .item-btn:hover {
  color: rgba(0, 0, 0, 0.4);
}
#index .item-container .item-nav .forward-slash {
  font-size: 1.6rem;
  font-weight: 500;
  margin-right: 20px;
}
@media only screen and (max-width: 1440px) {
  #index .item-container .item-grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
#index .product-container {
  height: auto;
  width: 100%;
  display: block;
  padding-top: 111px;
  background-color: #F9F6F0;
}
#index .product-container .product-flex-container {
  width: 100%;
  max-width: 1500px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 200px;
}
#index .product-container .product-flex-container .product-image {
  height: 650px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
#index .product-container .product-flex-container .product-image .product-index {
  font-size: 1.2rem;
  font-weight: 500;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F9F6F0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}
#index .product-container .product-flex-container .product-image .product-image-carousel {
  height: 650px;
  width: 100%;
  position: relative;
}
#index .product-container .product-flex-container .product-image .product-image-carousel::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}
#index .product-container .product-flex-container .product-image .product-image-carousel .product-img {
  position: absolute;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center 30%;
     object-position: center 30%;
  opacity: 0;
  transition: 0.4s ease;
}
#index .product-container .product-flex-container .product-image .product-image-carousel .product-img.active {
  opacity: 1;
}
#index .product-container .product-flex-container .product-image .product-image-buttons .product-arrow-left,
#index .product-container .product-flex-container .product-image .product-image-buttons .product-arrow-right {
  position: absolute;
  font-size: 4rem;
  transition: 0.4s ease;
  cursor: pointer;
}
#index .product-container .product-flex-container .product-image .product-image-buttons .product-arrow-left:hover,
#index .product-container .product-flex-container .product-image .product-image-buttons .product-arrow-right:hover {
  transform: scale(0.6);
}
#index .product-container .product-flex-container .product-image .product-image-buttons .product-arrow-left {
  left: -80px;
}
#index .product-container .product-flex-container .product-image .product-image-buttons .product-arrow-right {
  right: -80px;
}
#index .product-container .product-flex-container .product-info-container {
  height: 650px;
  width: 100%;
  display: flex;
  align-items: center;
}
#index .product-container .product-flex-container .product-info-container .product-info {
  display: block;
  width: 100%;
  text-align: center;
}
#index .product-container .product-flex-container .product-info-container .product-info .product-title {
  font-size: 5rem;
  font-weight: 500;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
}
#index .product-container .product-flex-container .product-info-container .product-info .product-price {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 40px;
}
#index .product-container .product-flex-container .product-info-container .product-info .product-sizes {
  margin-bottom: 60px;
}
#index .product-container .product-flex-container .product-info-container .product-info .product-sizes button {
  font-size: 1.2rem;
  font-weight: 500;
  margin-right: 15px;
  padding: 5px;
  transition: 0.4s ease;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}
#index .product-container .product-flex-container .product-info-container .product-info .product-sizes button.active, #index .product-container .product-flex-container .product-info-container .product-info .product-sizes button:hover {
  color: #F9F6F0;
  background-color: black;
}
#index .product-container .product-flex-container .product-info-container .product-info .product-sizes button:nth-child(5) {
  margin-right: 0;
}
#index .product-container .product-flex-container .product-info-container .product-info .product-sizes .select-size {
  font-size: 1.2rem;
  font-weight: 500;
  color: red;
  position: relative;
  top: 5px;
}
#index .product-container .product-flex-container .product-info-container .product-info .product-bag {
  color: white;
  background-color: black;
  border: 2px solid transparent;
  padding: 20px 100px;
  outline: none;
  text-transform: uppercase;
  transition: 0.4s ease;
  cursor: pointer;
}
#index .product-container .product-flex-container .product-info-container .product-info .product-bag:hover {
  color: black;
  background-color: #F9F6F0;
  border: 2px solid black;
}
#index .product-container .product-flex-container .product-info-container .product-info .product-bag h1 {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 4px;
}
#index .product-container .product-nav {
  padding-bottom: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
}
#index .product-container .product-nav .product-btn {
  font-size: 1.6rem;
  font-weight: 500;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.4s ease;
}
#index .product-container .product-nav .product-btn:not(:last-child) {
  margin-right: 20px;
}
#index .product-container .product-nav .product-btn:hover {
  color: rgba(0, 0, 0, 0.4);
}
#index .product-container .product-nav .forward-slash {
  font-size: 1.6rem;
  font-weight: 500;
  margin-right: 20px;
}
#index .notfound-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 111px;
}
#index .notfound-container span {
  font-size: 10rem;
  margin-bottom: 20px;
}
#index .notfound-container h1 {
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 6px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
#index .notfound-container .NotFoundButton {
  font-size: 1.4rem;
  padding: 15px 30px;
  border-radius: 10px;
  color: white;
  background-color: black;
  text-decoration: none;
  transition: 0.4s ease;
}
#index .notfound-container .NotFoundButton:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
#index footer {
  height: auto;
  width: 100%;
  padding: 60px 0;
  background-color: black;
}
#index footer .footer-container {
  height: 100%;
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#index footer .footer-container .footer-media {
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#index footer .footer-container .footer-media a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
#index footer .footer-container .footer-media a .fa-brands {
  color: white;
  font-size: 2.6rem;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.6s ease;
}
#index footer .footer-container .footer-media a .fa-brands:hover {
  transform: scale(1.4);
}
#index footer .footer-container .footer-media a:not(:last-child) {
  margin-right: 40px;
}
#index footer .footer-container .footer-privacy {
  color: white;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
#index footer .footer-container .footer-privacy a {
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
}
#index footer .footer-container .footer-privacy a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}
#index footer .footer-container .footer-privacy a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
#index footer .footer-container .footer-privacy .privacy {
  margin-right: 50px;
}
#index footer .footer-container .footer-copyright {
  color: white;
}
#index footer .footer-container .footer-copyright h1 {
  font-size: 1.3rem;
  font-weight: 600;
}/*# sourceMappingURL=index.css.map */